@-moz-document domain("hackerne.ws"), domain("news.ycombinator.com") {

body {
    margin: 0;
    background-image: url(http://subtlepatterns.com/patterns/groovepaper.png);
}

body > center > table {
    width: 100% !important;
    background-color: transparent !important;
}

body > center > table > tbody > tr:first-child > td {
    background-image: -webkit-linear-gradient(top, #f60, #f70);
    background-image: -moz-linear-gradient(#f60, #f70);
    border-bottom: solid 1px #f60;
    box-shadow: 0 2px rgba(0,0,0,.1);
}

body > center > table > tbody > tr:first-child > td > table {
    padding: 10px !important;
    margin: 0 auto;
    width: 960px !important;
}

body > center > table > tbody > tr:first-child > td > table > tbody > tr > td:first-child {
    padding-right: 10px !important;
}

.pagetop {
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
}

a {
    font-weight: bold;
}

a:hover {
    text-decoration: underline !important;
}

body > center > table > tbody > tr:nth-child(3) > td {
    padding: 20px 0 !important;
}

body > center > table > tbody > tr:nth-child(3) > td > table {
    width: 960px;
    margin: 0 auto;
}

.title {
    color: #ccc !important;
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
}

body > center > table > tbody > tr:nth-child(3) > td > table > tbody > tr:first-child > td:nth-child(2).title > a {
    font-size: 18px;
}

.subtext {
    height: 15px;
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif !important;
    vertical-align: top;
}

td, .comment, .default, .comhead, .yclinks, .dead {
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif !important;
}

body > center > table > tbody > tr:nth-child(3) > td > form {
    width: 960px;
    margin: 0 auto;
}

td > center > table {
    width: 940px;
    background-color: white;
    border: solid 1px #000;
}

td > center > table td {
    padding: 10px;
}

body > center > table > tbody > tr > td > table {
    width: 960px;
    margin: 0 auto;
}

.comment u, .comment u a, .comment u a:visited, .comment + p u, .comment + p u a, .comment + p u a:visited {
    text-decoration: none !important;
    color: #777 !important;
}

.comment p, .comment + p {
    margin: 8px 0 0 0;
    line-height: 16px;
}

}